<template>
  <div>
    <header>
      <nav class="navbar is-fixed-top">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item logo" v-scroll-to="'.carousel'" @click="closeMenu">
              <span class="logo__name">Corin & Rachael</span>
              <!-- <span class="logo__date">January 26th, 2019</span> -->
            </a>
            <span class="navbar-burger burger"
                  data-target="navbarMenuHeroA"
                  @click="menuOpen = !menuOpen">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div class="navbar-menu" :class="{ 'is-active': menuOpen }">
            <!-- Menu -->

            <scrollactive class="navbar-end"
                          :offset="54"
                          active-class="active"
                          :click-to-scroll="false">

              <a href="#info"
              @click="closeMenu"
                  v-scroll-to="'#info'"
                 class="navbar-item scrollactive-item">
                Info
              </a>
              <a href="#story"
              @click="closeMenu"
              v-scroll-to="'#story'"
                 class="navbar-item scrollactive-item">
                Love Story
              </a>
              <a href="#party"
              @click="closeMenu"
              v-scroll-to="'#party'"
                 class="navbar-item scrollactive-item">
                Wedding Party
              </a>
              <a href="#fun-things"
              @click="closeMenu"
                v-scroll-to="'#fun-things'"
                 class="navbar-item scrollactive-item">
                Our Favorites
              </a>
              <a href="#registry"
              @click="closeMenu"
                v-scroll-to="'#registry'"
                 class="navbar-item scrollactive-item">
                Registry
              </a>

              <!-- RSVP Button -->
              <span class="navbar-item font-standard" >
                <div class="button button--action"
                     @click="toggleRSVP">
                  <span class="icon">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span>RSVP</span>
                </div>
              </span>

            </scrollactive>

          </div>
        </div>
      </nav>
    </header>

    <rsvp-popup v-if="rsvpOpen"
                v-on:close="toggleRSVP" />

  </div>

</template>

<script>
export default {
  props: {
    startOpen: Number
},
  data() {
    return {
      rsvpOpen: false,
      menuOpen: false
    };
  },
  methods: {
    toggleRSVP() {
      this.menuOpen = false;
      if (!this.rsvpOpen) {
        this.rsvpOpen = true;
      } else {
        this.rsvpOpen = false;
      }
    },
    closeMenu() {
      _.delay(() => {
        this.menuOpen = false;
      }, 200);
    }
  },
  mounted(){
    if(this.startOpen){
      this.rsvpOpen = true
    }
  }
};
</script>
<style>
.con-exemple-prompt {
  padding: 10px;
  padding-bottom: 0px;
}
.vs-input {
  width: 100%;
  margin-top: 10px;
}
</style>
