<template>
  <div>
    <div class="popup__shadow"
         @click="$emit('close')"></div>
    <div class="popup">
      <div @click="$emit('close')"
           class="popup__close-icon">
        <i class="fas fa-times-circle fa-2x"></i>
      </div>

      <div class="popup__container">

        <!--TODO: Remove hard coded keys-->
        <ais-index app-id="MYUSX5BXS5"
                   api-key="a27e3709c2f0b518efe32138060d6d29"
                   index-name="guests"
                   v-show="selected==null"
                   style="height: 100%;">
          <div class="control popup__input">
            <ais-input placeholder="Type your name..."
                       class="input"
                       type="text"
                       ref="rsvp" />

          </div>

          <my-results class="results">
            <template slot-scope="{ result }">
              <div class="results__item"
                   @click="updateSelected(result)">
                <h4>{{ result.name }}</h4>
              </div>
            </template>
          </my-results>
        </ais-index>

        <rsvp-response :selected="selected"
                       v-if="selected!=null"
                       v-on:clear="clearSelection"
                       v-on:submitted="$emit('close')"
                       v-on:close="$emit('close')" />
      </div>

    </div>
  </div>

</template>
<script>
import { createFromAlgoliaCredentials } from "vue-instantsearch";

export default {
  data() {
    return {
      selected: null
    };
  },

  methods: {
    inputFocus() {
      this.$refs.rsvp.$el.focus();
    },

    updateSelected(result) {
      this.selected = result;
    },
    clearSelection() {
      this.selected = null;
    }
  },
  mounted() {
    this.inputFocus();
    const searchStore = createFromAlgoliaCredentials(scoutID, scoutSearch);
  }
};
</script>
