<template>
  <div>

    <div class="response"
         v-if="!confirm">
      <div class="response__name">
        <h2>Name: {{ selected.name }}</h2>

      </div>
      <div class="field response__rsvp">
        <label for="rsvp"
               class="label">Are you coming?</label>
        <div class="control has-icons-left">
          <div class="select is-secondary is-rounded">
            <select name="rsvp"
                    id=""
                    v-model="selected.rsvp"
                    @change="buttonCheck()">
              <option value="null">RSVP</option>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
            <span class="icon is-small is-left"
                  style="color: #E8B21A">
              <i class="fas fa-envelope"></i>
            </span>
          </div>

        </div>
      </div>
      <div class="field response__message">
        <div class="label">Leave a message for the couple!</div>
        <textarea class="textarea"
                  placeholder="leave a message :)"
                  v-model="selected.message"></textarea>

      </div>

      <button class="button is-outlined is-primary response__button--clear"
              @click="$emit('clear')">Clear</button>
      <button class="button is-link response__button--submit"
              :class="{ 'is-loading': loading  }"
              @click="submitRSVP"
              :disabled="!rsvpReady">RSVP</button>

    </div>
    <section class="response__other-guests"
             v-else>
      <h1>Do you also want to RSVP:</h1>
      <h2 v-for="guest in otherGuests"
          v-text="guest.name"
          :key="guest.id" />
      <button class="button is-outlined is-primary response__button--clear"
              @click="$emit('close')">No</button>
      <button class="button is-link response__button--submit button--action"
              @click="confirmRSVP">Yes</button>
    </section>
  </div>
</template>

<script>
export default {
  props: ["selected"],
  data() {
    return {
      rsvpReady: false,
      otherGuests: null,
      loading: false,
      confirm: false,
      rsvpOthers: null
    };
  },
  methods: {
    buttonCheck() {
      console.log('button check');
      
      if (this.selected.rsvp == null) return;
      if (this.selected.rsvp >= 0) {
        this.rsvpReady = true;
      } else {
        this.rsvpReady = false;
      }
    },
    submitRSVP() {
      this.loading = true;
      axios.post("/api/guests/store", this.selected).then(() => {
        this.loading = false;
        if (_.size(this.otherGuests) == 0) {
          this.$emit("submitted");
        } else {
          if (this.rsvpOthers) {
            this.selected = this.otherGuests[0];
            _.pull(this.otherGuests, this.selected);
          } else {
            this.confirm = true
          }
        }
      });
    },

    guestCheck(guests) {
      _.forEach(guests, guest => {
        if (guest.id == this.selected.id) {
          _.pull(guests, guest);
        }
        this.otherGuests = guests;
      });
    },

    confirmRSVP(){
      this.selected = this.otherGuests[0];
      _.pull(this.otherGuests, this.selected);
      this.confirm = false,
      this.rsvpOthers = true
    }
  },

  created() {
    axios
      .get("/api/invite/" + this.selected.invite_id + "/missing-rsvp")
      .then(response => this.guestCheck(response.data));
  },
  beforeMount(){
    this.buttonCheck();    
  },
  updated(){
    this.buttonCheck();
    
  }
  
};
</script>
