<template>
  <div>
    <section>

      <div class="form-group">
        <label for="quest-name">Name of thy quest</label>
        <input type="text"
               name="quest-name"
               v-model="newQuest.name">

      </div>

      <div class="form-group">
        <label for="quest-notes">Quest Notes</label>
        <input type="text"
               name="quest-notes"
               v-model="newQuest.notes">

      </div>
      <div class="form-group">
        <label for="quest-reward">Reward:</label>
        <input type="text"
               name="quest-reward"
               v-model="newQuest.reward">
      </div>
      <div class="form-group">
        <label for="quest-location">Location</label>
        <input type="text"
               name="quest-location"
               v-model="newQuest.location">

      </div>
      <div class="form-group">
        <label for="quest-npc">Giver of Quest</label>
        <input type="text"
               name="quest-npc"
               v-model="newQuest.npc">
      </div>

      <button style="margin-left: 50px; margin-top: 20px;"
              @click="addQuest">Add</button>
    </section>
    <section>
      <h1>All Quests</h1>
      <article v-for="quest in quests"
               :key="quest.name">
        <h2 v-text="quest.name" />
        <ul>
          <li>Notes: {{ quest.notes }}</li>
          <li>Reward: {{ quest.reward }}</li>
          <li>Location: {{ quest.location }}</li>
          <li>npc: {{ quest.npc }}</li>

        </ul>

        <button @click="deleteQuest(quest)">Delete</button>
      </article>
    </section>

  </div>
</template>

<script>
export default {
  data() {
    return {
      newQuest: {
        name: "",
        notes: "",
        reward: "",
        location: "",
        npc: ""
      },
      people: {
        name: "Jerry",
        name: "Susan"
      },
      location: {
        name: "Agatha Well",
        name: "Phandolin"
      },
      quests: [
      {
          name: "The Journey man",
          notes: "such notes much awesome",
          reward: "200",
          location: "Phandolin",
          npc: "jerry"
        }
      ]
    };
  },
  methods: {
    addQuest() {

      if(this.newQuest.name == '') return;

      this.quests.push(this.newQuest);
      this.newQuest = {
        name: "",
        notes: "",
        reward: "",
        location: "",
        npc: ""
      };
    },
    deleteQuest(quest) {

      const questIndex = this.quests.indexOf(quest);
      this.quests.splice(questIndex, 1);
    }
  },
  mounted() {}
};
</script>
