<template>
  <section>
      <h1>sup Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vel repudiandae architecto blanditiis ullam, id quas omnis aspernatur sed sunt.</h1>
  </section>

</template>

<script>
export default {
  mounted() {
    console.log("Component mounted.");
  }
};
</script>
