
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.body {
    // font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
}
