// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');
// Variables
// Screen Breakdowns
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Color Variables
$primary: #677C67;
$secondary:#244171;
$light-secondary: #7386A4;
$accent: #E8B21A;
$link: #E8B21A;
@import "variables";
@import "animate";
@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/flickity/dist/flickity.min.css";
$font-fancy: 'Bad Script',
cursive;
$font-standard: 'Lato',
sans-serif;

body {
  font-family: $font-standard;
}

h1 {
  font-family: $font-fancy;
  font-size: 1.5rem;
  letter-spacing: .08em;
}

.active {
  background: $accent;
  transition: all .2 ease;
}

.font-standard {
  font-family: $font-standard;
}

.color-primary {
  color: $primary;
}

.bg-primary {
  background: $primary;
}

.logo {
  font-family: $font-fancy;
  font-size: 1.9rem;
  padding-bottom: 5px
}

.logo__date {
  margin-left: .5em;
  font-family: $font-standard;
  font-size: .6em;
  font-weight: 400;
  letter-spacing: .01em;
}

.navbar {
  background: $primary;
  color: white;
  border-bottom: 2px solid $secondary;
}

.navbar-menu {
  @media screen and (max-width: 1087px) {
    background: $light-secondary;
  }
}

.navbar-item {
  font-family: $font-fancy;
  font-size: 1.3rem;
  letter-spacing: .05em;
  color: white;
  transition: all .2s ease;
  margin-right: 2px;
}

.nav-menu {
  display: inline;
}

.button--action {
  color: $secondary;
  background-color: #fec84e;
  background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
  border: none;

  &:hover {
    color: white;
    background: lighten($color: $accent, $amount: 20)
  }
}

//** Flickity Modifications
/* position dots in carousel */

.flickity-page-dots {
  bottom: 10px;
}

/* white circles */

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

/* fill-in selected dot */

.flickity-page-dots .dot.is-selected {
  background: white;
}

.flickity-button {
  background: rgba($color: white, $alpha: 0.8)
}

.flickity-button:hover {
  background: $accent;
}

// RSVP Pop up
.popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  margin: auto;
  margin-bottom: 40px;
  width: 30vw;
  padding: 10px 20px 10px 20px;
  background: #E5E5E5;
  border-radius: 10px;
  z-index: 40;

  @media (max-width: $screen-md-min) {
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    border-radius: 0;
    transform: translateX(0);
  }
}

.popup__shadow {
  width: 100vw;
  height: 100vh;
  background: rgba($color: black, $alpha: 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 39;
}

.popup__container {
  // height: 100%;
  overflow-x: auto;
}

.popup__close-icon {
  color: $primary;
  position: absolute;
  top: -15px;
  right: -10px;
  cursor: pointer;
  transition: all .3s ease;

  @media (max-width: $screen-md-min) {
    position: relative;
    padding-top: 10px;
    margin-left: auto;
  }

  &:hover {
    color: $accent;
    transform: scale(1.2) rotate(90deg);
  }

  &::before {
    content: '';
    background: white;
    width: 100%;
    height: 100%;
  }
}

.response {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "name name name""rsvp rsvp rsvp""message message message"". clear submit";
}

.response__name {
  grid-area: name;
  font-family: $font-fancy;
  font-size: 1.5rem;
  color: $primary;
  margin-bottom: .5rem;
}

.response__rsvp {
  grid-area: rsvp;
}

.response__message {
  grid-area: message;
}

.response__button--clear {
  grid-area: clear;
  margin-right: 10px;
}

.response__button--submit {
  grid-area: submit;
}

.response__other-guests {
  color: $primary;

  h1 {
    font-family: $font-fancy;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }
}

.results {
  position: relative;
  margin-top: 10px;
}

.results__item {
  margin-bottom: 9px;
  padding: 7px;
  padding-left: 20px;
  cursor: pointer;
  border-radius: 80px;
  background: $primary;
  color: white;
  transition: all .2s ease;

  &:nth-child(even) {
    background-color: #fec84e;
    background-image: linear-gradient(315deg, #ffdea8 0%, #fec84e 74%);
    border: none;
  }

  &:hover {
    background: #677C67
  }
}

// ----------------------------------------------------------------------
$carousel-height: 90vh;

.landing-container {
  display: grid;
  grid-template-areas: "car car car""info info info""story story pic1""party party party""fun fun fun""pic2 reg reg";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: $carousel-height auto;
  grid-auto-rows: minmax(300px, auto);
  margin-bottom: 75px;

  @media (max-width: $screen-md-min) {
    grid-template-columns: 1fr;
    grid-template-areas: "car""info""pic1""story""party""fun""pic2""reg";
  }
}

.carousel__cell {
  height: $carousel-height;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.carousel {
  grid-area: car;
}

#info {
  min-height: 80vh;
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ". head .""deets deets deets""hotel hotel hotel";
  text-align: center;
  background: $primary;
  color: white;
  grid-area: info;
  font-size: 1.2rem;
  padding-bottom: 30px;

  @media (max-width: $screen-sm-min) {
    padding: 8px;
    grid-template-columns: 1fr;
    grid-template-areas: "head""deets""hotel";
  }

  a {
    margin-top: 15px;

    @media (max-width: $screen-sm-min) {
      margin-top: 20px;
      font-size: 1.5rem;
      width: 60%;
    }
  }

  h1 {
    font-size: 2.4em;
    color: white;
    text-align: center;

    @media (max-width: $screen-sm-min) {
      font-size: 1.7em;
      margin-top: 8px;
      margin-bottom: 14px;
    }
  }

  h2 {
    font-size: 1.3em;
    font-family: $font-fancy;
    text-align: center;
    letter-spacing: 3px;

    @media (max-width: $screen-sm-min) {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1.3rem;
    font-family: $font-fancy;
    font-weight: 400;
    letter-spacing: .05em;

    @media (max-width: $screen-sm-min) {
      font-size: 1.5rem;
      color: black;
    }
  }
}

.info__heading {
  grid-area: head;
  padding-top: 40px;
  margin-bottom: 8vh;
  z-index: 2;
}

.branch {
  position: absolute;
  z-index: 1;

  @media (max-width: $screen-lg-min) {
    display: none;
  }
}

#branch1 {
  height: 29vw;
  top: -88px;
  left: 49px;
  transform: rotate(124deg);
}

#branch2 {
  height: 26vw;
  top: 66px;
  right: 49px;
  transform: rotate(308deg);
}

#branch3 {
  top: -88px;
  right: 44px;
  -webkit-transform: rotate(124deg);
  transform: rotate(-90deg);
  height: 302px;
}

.info__date-time {
  grid-area: deets;
  display: flex;
  justify-content: space-around;

  @media (max-width: $screen-sm-min) {
    flex-direction: column;
  }

  a {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.info__hotels {
  grid-area: hotel;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $screen-sm-min) {
    grid-template-columns: 1fr;
    display: inline;
  }

  h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    grid-column: 1/span 3;
    text-align: left;
  }
}

.hotel {
  margin-bottom: 15px;
}

#story {
  grid-area: story;
  background: $light-secondary;
  color: white;
  padding-bottom: 30px;

  h1 {
    font-size: 2.4rem;
    background: $secondary;
    padding: 19px;
  }

  p {
    padding: 2px 40px;
    text-indent: 2em;
    padding-top: 1.2em;
    font-size: 1em;

    @media (max-width: $screen-md-min) {
      padding: 10px 20px;
      text-align: justify;
    }
  }
}

.aside__picture {
  height: 100%;
  width: 100%;
  object-fit: cover;

  @media (max-width: $screen-sm-min) {
    // display: none
  }
}

#pic1 {
  grid-area: pic1;
}

#pic2 {
  grid-area: pic2;
}

#registry {
  padding-bottom: 20px;
  grid-area: reg;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "head head head""amazon_logo target_logo macys_logo""amazon target macys";
  grid-gap: 10px;
  background: $light-secondary;
  color: white;

  @media (max-width: $screen-sm-min) {
    grid-template-columns: 1fr;
    grid-template-areas: "head""amazon_logo""amazon""target_logo""target""macys_logo""macys";
    grid-gap: 20px;

    a {
      font-size: 1.8rem;
    }
  }

  h1 {
    grid-area: head;
    font-size: 2.4rem;
    background: $secondary;
    padding: 20px;
  }
}

.registry__link {
  width: 50%;
  margin: auto;

  @media (max-width: $screen-sm-min) {
    width: 75%;
    margin-bottom: 20px;
  }
}

.amazon {
  grid-area: amazon;
}

.logo__amazon {
  grid-area: amazon_logo;
  width: 83%;
  margin: auto;
}

.target {
  grid-area: target;
}

.logo__target {
  grid-area: target_logo;
  margin: auto;
  width: 40%;
}

.macys {
  grid-area: macys;
}

.logo__macys {
  grid-area: macys_logo;
  margin: auto;
  width: 90%;
}

#party {
  grid-area: party;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "head head";
  background: $primary;
  color: white;

  @media (max-width: $screen-md-min) {
    grid-template-columns: 1fr;
    grid-template-areas: "head";
  }

  h1 {
    grid-area: head;
    font-size: 2.4rem;
    background: $secondary;
    padding: 20px;
    margin-bottom: 40px;
  }
}

// 
// The div that surrounds each wedding party member
$image-size: 144px;

.person {
  display: grid;
  position: relative;
  grid-template-columns: $image-size 1fr;
  grid-template-areas: "image bio";
  background: $primary;
  margin-bottom: 30px;
  padding-right: 30px;

  @media (max-width: $screen-sm-min) {
    grid-template-columns: 1fr;
    grid-template-areas: "image""bio";
    padding-right: 0px;
  }

  h2 {
    margin-bottom: 5px;
    font-family: $font-fancy;
    font-size: 2.2rem;
    padding-left: .5em;
  }

  p {
    text-indent: 2.2em;
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.person__title {
  font-size: 1rem;
  vertical-align: middle;
  font-family: $font-fancy;
}

.person__image {
  grid-area: image;
  position: absolute;
  height: $image-size;
  width: $image-size;
  border-radius: 50%;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: $screen-sm-min) {
    position: relative;
    transform: translateY(0);
    top: 0;
    margin: auto;
    border-radius: 0;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
}

.person__bio {
  grid-area: bio;
}

#fun-things {
  padding-bottom: 20px;
  grid-area: fun;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "head head head";
  grid-gap: 10px;
  background: $light-secondary;
  color: white;

  @media (max-width: $screen-sm-min) {
    grid-template-columns: 1fr;
    grid-template-areas: "head";
  }

  h1 {
    grid-area: head;
    font-size: 2.4rem;
    background: $secondary;
    padding: 20px;
  }
}

.fun__category {
  color: white;

  h2 {
    padding-top: 10px;
    text-align: center;
    font-family: $font-fancy;
    font-size: 2.3rem;
  }

  li {
    width: 70%;
    margin: auto;

    p {
      font-style: italic;
      font-size: .9em;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $primary;
  height: 76px;
  z-index: -1;
  color: white;
  text-align: center;

  p {
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
}